.BlogPost {

  h1 {
    @include padding-box;
    font-family: $sans;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.03rem;
  }

  h2 {
    @include padding-box;
    font-family: $sans;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
  }

  h3 {
    padding: 30px 10px 10px 10px;
    font-family: $sans;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
  }

  img {
    @include material-shadow;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  ul {
    list-style: initial;
    padding-left: $padding-default * 4;
  }

  li {
    line-height: 1.5;
    font-family: $sans;
    font-weight: 500;
    font-size: 1.2rem;
  }

  p {
    @include padding-box;
    text-align: left;
    font-family: $serif;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  pre {
    @include padding-box(2);
  }
}

.BlogPost-ImageContainer {
  @include padding-box;
  width: 100%;
  text-align: center;

  img {
    max-width: 100%;
  }
}
