---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Vähis"
	description="About Matti Vähä-Heikkilä, running for Turku city council with the number 467."
	pubDate={new Date("August 08 2021")}
	heroImage="/placeholder.jpg"
>
	<p>
		About Matti Vähä-Heikkilä, running for Turku city council.
	</p>
	<ul>
		<li>35 years old</li>
		<li>Master of Science in Technology (IT)</li>
		<li>Passionate runner</li>
		<li>Current city councillor (since 2017-)</li>
		<li>And I want to continue working to improve Turku</li>
	</ul>

	<h2>What is important in Turku</h2>
	<ol>
		<li>
			Turku should be developed more like a big city, not like a small town.
		</li>
		<li>
			We can't forget that Turku has two universities and they are important for
			Turku.
		</li>
		<li>
			Turku must be comfortable and agreeable of various modes of commute.
		</li>
		<li>The data in Turku must be used in decision making</li>
		<li>The economy in Turku must be fixed and balanced</li>
		<li>
			And without any exceptions -- Turku is a city of healthy people and
			equality
		</li>
	</ol>

	<p>
		I am a candidate for the Greens, but I strongly support usage of nuclear
		power. In this respect, I differ from many Greens. I have made a council
		initiative about Small Modular Reactors (SMR) in 2018. I believe in new
		technology and I believe it will solve many of our problems as a nation.
	</p>

	<p>
		You can vote with a face mask on and with a valid photo ID! <a
			href="https://ah.turku.fi/kuulutukset/Images/1953367.pdf">Voting places</a
		> 
	</p>

	<p>Matti Vähä-Heikkilä</p>
</Layout>
