---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Matti Vähä-Heikkilä. All rights reserved.
	<div class="social-links">
		<a href="https://www.facebook.com/mvahaheikkila" target="_blank"
			><img src="/facebook.svg" /></a
		>
		<a href="https://www.linkedin.com/in/mvahaheikkila/" target="_blank"
			><img src="/linkedin.svg" /></a
		>
		<a href="https://www.instagram.com/mattivahis/" target="_blank"
			><img src="/instagram.svg" /></a
		>
		<a href="https://twitter.com/mattivahis" target="_blank"
			><img src="/twitter.svg" /></a
		>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
