---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Koti</HeaderLink>
			<HeaderLink href="/blog.html">Blogi</HeaderLink>
			<HeaderLink href="/about.html">Vähis</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.facebook.com/mvahaheikkila" target="_blank"
				><img src="/facebook.svg" /></a
			>
			<a href="https://www.linkedin.com/in/mvahaheikkila/" target="_blank"
				><img src="/linkedin.svg" /></a
			>
			<a href="https://www.instagram.com/mattivahis/" target="_blank"
				><img src="/instagram.svg" /></a
			>
			<a href="https://twitter.com/mattivahis" target="_blank"
				><img src="/twitter.svg" /></a
			>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		border-bottom: 2px solid var(--accent-dark);
	}
	h2 {
		margin: 0;
		font-family: sans-serif;
		z-index: 2;
		font-size: 2rem;
		color: #53a019;
		font-weight: bold;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #53a019;
		text-shadow: 3px 3px #53a019;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
