<div class="SideBar">
  <div class="SideBar-profile">
    <span class="SideBar-image"><img src="/assets/profile.jpg"></span>
    <div class="SideBar-Name">
      <strong>Matti</strong>
      <strong>Vähä-Heikkilä</strong>
    </div>
    <span class="SideBar-number"></span>
    <span class="SideBar-Extra">Turun kaupunginvaltuutettu</span>
    <span class="SideBar-Extra">Turku City Data Oy:n hallituksen jäsen</span>
    <span class="SideBar-Extra">Tietotekniikan diplomi-insinööri</span>
    <span class="SideBar-Extra">Opiskelijatoiminnan asiantuntija, TEK</span>
    <span class="SideBar-Extra">Juoksija ja datafanaatikko</span>
    <span class="SideBar-party"><img src="/assets/vihreat.png"></span>
  </div>
  {{#with topics as |topicList|}}
  <div class="SideBar-Topics">
    <h2 class="SideBar-TopicHeader">Kirjoitukset aiheittain:</h2>
    <ul>
      {{#each topicList as |topic|}}
      <li class="SideBar-Topic" data-topic={{topic}}>{{topic}}</li>
      {{/each}}
    </ul>
  </div>
  {{/with}}
</div>
