<div class="SideBar">
  <div class="SideBar-profile">
    <span class="SideBar-image"><img src="/assets/profile.jpg"></span>
    <div class="SideBar-Name">
      <strong>Matti</strong>
      <strong>Vähä-Heikkilä</strong>
    </div>
    <span class="SideBar-number">216</span>
    <span class="SideBar-Extra">Turun kuntavaalit:</span>
    <span class="SideBar-Extra">Ennakko 29.3.-4.4.2017</span>
    <span class="SideBar-Extra">Vaalipäivä 9.4.2017</span>
    <span class="SideBar-party"><img src="/assets/vihreat.png"></span>
  </div>
  {{#with topics as |topicList|}}
  <div class="SideBar-Topics">
    <h2 class="SideBar-TopicHeader">Kirjoitukset aiheittain:</h2>
    <ul>
      {{#each topicList as |topic|}}
      <li class="SideBar-Topic" data-topic={{topic}}>{{topic}}</li>
      {{/each}}
    </ul>
  </div>
  {{/with}}
</div>