@import "./styles/reset";

$sans: "Source Sans Pro", sans-serif;
$serif: "Noto Serif", serif;

$padding-default: 10px;

$green: #61bf1a;
$light: #c8d6e5;
$black: #2f2f2f;
$black-54: rgba(#2f2f2f, 0.84);

@mixin padding-box($multiplier: 1) {
  padding: $multiplier * $padding-default;
}

@mixin material-shadow($size: 1) {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@import "./styles/markdown";
@import "./styles/sideBar";

*,
all {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  color: $black;
}

.container {
  @include padding-box(10);
  max-width: 1600px;
  font-family: $serif;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1200px), (max-device-width: 1200px) {
    padding-left: $padding-default;
    padding-right: $padding-default;
  }

  @media (max-width: 1000px), (max-device-width: 1000px) {
    @include padding-box(10);
    padding-top: $padding-default;
    flex-direction: column-reverse;
  }

  @media (max-width: 750px), (max-device-width: 750px) {
    padding-left: $padding-default;
    padding-right: $padding-default;
  }
}

.Page {
  display: flex;
  max-width: 1000px;
  border-radius: 4px;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  background-color: $light;
}

.BlogPosts {
  max-width: 1000px;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  border-radius: 4px;

  &-ActiveFilter {
    display: none;
    position: absolute;
    top: $padding-default * -4;
    left: $padding-default * 4;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: $sans;
    color: $black-54;

    &--Active {
      display: block;
    }
  }
}
h3.BlogPost-Time {
  padding: 0 $padding-default 20px;
  font-family: $sans;
  font-weight: 400;
  font-size: 1.5rem;
  color: $black-54;
}

.BlogPost {
  @include padding-box(4);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: $light;
  margin-bottom: $padding-default * 4;

  &--Hidden {
    display: none;
  }

  &-Title {
    padding: 0 $padding-default;
    font-family: $sans;
    font-weight: 700;
    font-size: 2rem;
  }

  &-Topics {
    border-top: 2px solid $black-54;
  }

  &-Topic {
    @include padding-box;
    display: inline-block;
    font-family: $sans;
    font-size: 1rem;
    font-weight: 600;
  }

  &-TopicHeader {
    padding-left: $padding-default;
    padding-top: $padding-default * 3;
    font-family: $sans;
    font-weight: 600;
    font-size: 1.3rem;
    color: $black-54;
  }
}

.Navigation {
  @include padding-box(2);
  max-width: 1600px;
  text-align: right;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;

  &-Item {
    @include padding-box(2);
    display: inline-block;
    font-size: 1.5rem;
    font-family: $sans;
    font-weight: 700;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $green;
    }
  }

  @media (max-width: 1200px), (max-device-width: 1200px) {
    padding-right: 10px;
  }
}
