@import './styles/reset';

$sans: 'Montserrat', sans-serif;
$serif: 'Domine', serif;

$padding-default: 10px;

$green: #61BF1A;
$light: #FAFAF5;
$black: #2f2f2f;

@mixin padding-box($multiplier: 1) {
  padding: $multiplier * $padding-default;
}


@mixin material-shadow ($size: 1) {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@import './styles/markdown';

*, all {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  color: $black;
}

.container {
  @include padding-box(10);
  max-width: 1600px;
  font-family: $serif;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.SideBar {
  padding-left: $padding-default * 4;
  padding-right: $padding-default * 4;
  display: flex;
  flex-direction: column;
  flex: .5;
  min-width: 400px;
  height: 100%;
  text-align: center;
  justify-content: center;

  &-profile {
    @include padding-box;
    color: $green;
    border-bottom: 5px solid $black;
  }

  &-name, &-number {
    @include padding-box(4);
    padding-bottom: 20px;
    font-family: $sans;
    font-size: 2rem;
    display: block;
    font-weight: 600;
  }

  &-number {
    font-size: 5rem;
    padding: 0;
  }

  &-party {
    img {
      padding-top: 20px;
      padding-bottom: 40px;
      width: 250px;
    }
  }

  &-image {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &-Topics {
    padding-top: $padding-default * 4;
    text-align: left;
    align-items: flex-start;

    li {
      @include padding-box;
      font-family: $sans;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

.blog {
  @include padding-box(4);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  background-color: $light;
}

.BlogPosts {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.BlogPost {
  @include padding-box(4);
  display: flex;
  flex-direction: column;
  background-color: $light;
  margin-bottom: $padding-default * 4;

  &-Title {
    @include padding-box;
    font-family: $sans;
    font-weight: 700;
    font-size: 2rem;
  }

  &-Time {
    @include padding-box;
    font-family: $sans;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba($black, .5);
  }
}

.Navigation {
  @include padding-box(2);
  max-width: 1600px;
  text-align: right;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;

  &-Item {
    @include padding-box(2);
    display: inline-block;
    font-size: 1.5rem;
    font-family: sans;
    font-weight: 700;
    color: $black;
    text-decoration: none;

    &:hover {
      color: rgba($black, .5);
    }
  }
}